@tailwind base;
@tailwind components;
@tailwind utilities;

/* cinzel-latin-400-normal */
@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('/fonts/cinzel-latin-400-normal.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* roboto */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('/fonts/roboto-latin-400-normal.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 360deg;
  inherits: false;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

[type='button'],
input[type='button'],
input[type='submit'],
input[type='text'],
input[type='email'],
input[type='search'],
textarea,
button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

.gradient-border {
  --angle: 0deg;
  border-image: linear-gradient(
    var(--angle),
    rgba(236, 233, 228, 0.5),
    rgba(0, 0, 0, 0)
  );
  border-image-slice: 1;
  animation: 5s rotate linear infinite;
}

.gradient-border:hover {
  animation-play-state: paused;
}
